.clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
.container() {
  @media @tablet-width {
    width: 87%;
    max-width: 1050px;
    margin: 0 auto;
    // background-color: green;
  }
  @media @desktop-width {
    width: 91.3%;
    // background-color: red;
  }
}
.font(@font-size; @line-height; @font-weight; @font-color) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
  color: @font-color;
}
