.page-header {
  position: relative;
  .container();
}
.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  text-align: center;
  border-bottom: 1px solid #ececec;
}
@media @tablet-width {
  .page-header__logo {
    justify-content: flex-start;
    width:47.9%;
    min-height: 88px;
    background-color: red;
  }
}
